@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFFFFF;

}

img {
    display: block;
    max-width: 100%;
}


h2,
h3,
h4,
h5,
p, 
a, button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    background: #222222;
    max-width: 1600px;
   
    margin: 0 auto;

}
.headercontent{
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headercontent button {
    border: none;
    cursor: pointer;
    background: none;
}

.nav_left {
    display: flex;
    justify-content: space-between;
    gap: 41px;
}
.nav_right{
    display: flex;
    justify-content: space-between;
    gap: 33px;

}

.main_begin{
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 65px;
    background: #F1E4E6;
    display: flex;
}
.label{
    margin-top: 290px;
    margin-left: 64px; 
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.label h1 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #222222;
    font-size: 48px;
    line-height: 120%;
}

.label h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    color: #222222;
    text-align: left;
}
.label h3 span {
    color: #F16D7F
}

.offer{                                                                                             
    margin-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 30px;

}

.darkening{
    background: #211616B2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.offer h2{
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: white;

}
.offer h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

    color: #F16D7F;

}


.for_women{
    background-image: url(./img/for_woman.png);
    width: 360px;
    height: 260px;

}
.for_men{
    background-image: url(./img/for_men.png);
    width: 360px;
    height: 260px;

}
.for_kids{
    background-image: url(./img/for_kids.png);
    width: 360px;
    height: 260px;

}
.accesouies{
background-image: url(./img/accesouries.png);
    width: 100%;
    height: 180px;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.products h2 {
    font-size: 30px;
    line-height: 120%;
    max-width: 190px;
    color: #222222;
    margin-bottom: 6px;
}

.products h3 {
    font-size: 14px;
    line-height: 120%;
    max-width: 336px;
    color: #9F9F9F;
    margin-bottom: 46px;
}


.product_panel{
    margin-bottom: 46px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 25px;
    column-gap: 30px;
}

.card{
    max-width: 360px;
    max-height: 587px;
}

.card_description{
    padding: 24px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    opacity: 0px;
    max-width: 100%;
    background-color: #F8F8F8;
}

.card_description h4{
    font-size: 13px;
    line-height: 120%;
    text-align: left;
    color: black;
    max-width: 149px;
}

.card_description p{
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    text-align: left;
    color: #5D5D5D;
    max-width: 315px;
}

.card_description h5{
    font-size: 16px;
    line-height: 120%;
    text-align: left;
    max-width: 53px;
}

.products button{
    margin-bottom: 60px;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    font-size: 16px;
    line-height: 120%;
    /* max-width: 212px; */
    color: #F26376;
    background: none;
    cursor: pointer;
}

